DATABASE_URL=postgresql://usuario:contraseña@host:5432/nombre_db
EMAIL_USER=your@email.example
EMAIL_PASS=your-email-pass
PORT=3000

#DATABASE_URL="postgres://postgres:123456@localhost:5432/db_spa_jauria"
#EMAIL_USER=amilcar1776@gmail.com
#EMAIL_PASS=oxhj xgxa xaby tnlr